{% extends 'main/base.html' %}
{% load static %}
{% block title %}Upload Page{% endblock %}


{% block content %}
                <!--  HEADER  -->
            <header>
                <div class="header-wrapper">
                    <div class="header-container">
                    <span id="header-text">Image2Audio - Powered By<div class="header-logo"><img src="{% static 'main/spotify_icon_logo.png' %}"></div></span>
                </div>
            </header>


        <!--  SONG SELECTION BOX  -->

        <div class="song-selection-box">
            <!-- SEARCH CONTAINER -->
            <div class="search-wrapper">

                <div class="choose-file-container">
                    <!--<input type="file" name="input-img" id="input-img" hidden="hidden"/>
                    <button type="button" name="btn-input-img" id="btn-input-img">CHOOSE A FILE</button>
                    <span id="text-input-img">No file chosen yet.</span>-->
                    <form method="POST" action="{% url 'update_the_song' %}" id="image_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{image_form}}
                        <button type="submit" id="btn-search">Go!</button>
                    </form>
                </div>
                <div class="upload-container"> <!-- upload will send image for processing to render playlist/song-->
                    <input type="file" name="input-img" id="input-img" hidden="hidden"/>
                    <button type="button" name="btn-upload" id="btn-upload" onclick="showResults()">PLAY MUSIC </button >
                </div>
            </div>
        </div> <!-- END SONG SELECTION BOX -->

        
        <!-- RESULTS SEARCH -->
        <div class="container-results" id="container-results"> 
            <div class="player-container">
                <img id="track_image">

            
            <div class="container-results" id="container-results" > 
                    {% if bool %}
                        <iframe src={{list_of_playlists}} class="Play" width="600" height="600" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}