{% extends 'main/base.html' %}
{% load static %}
{% block title %}Upload Page{% endblock %}


{% block content %}
                <!--  HEADER  -->
            <header>
                <div class="header-wrapper">
                    <div class="header-container">
                    <span id="header-text">Image2Audio - Powered By<div class="header-logo"><img src="{% static 'main/spotify_icon_logo.png' %}"></div></span>
                </div>
            </header>


        <!--  SONG SELECTION BOX  -->

        <div class="song-selection-box">
            <!-- SEARCH CONTAINER -->
            <div class="search-wrapper">
                <div class="search-container">
                    <input type="search" name="input-search" id="input-search" placeholder="Add keywords">
                    <button type="button" id="btn-search">Go!</button>
                    Temp, for testing keyword search
                </div>
                <div class="choose-file-container">
                    <!--<input type="file" name="input-img" id="input-img" hidden="hidden"/>
                    <button type="button" name="btn-input-img" id="btn-input-img">CHOOSE A FILE</button>
                    <span id="text-input-img">No file chosen yet.</span>-->
                    <form method="POST" action="{% url 'update_the_song' %}" id="image_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{image_form}}
                        <button type="submit" id="btn-search">Go!</button>
                    </form>
                </div>
                <div class="upload-container"> <!-- upload will send image for processing to render playlist/song-->
                    <input type="file" name="input-img" id="input-img" hidden="hidden"/>
                    <button type="button" name="btn-upload" id="btn-upload" onclick="showResults()">PLAY MUSIC </button >
                </div>
            </div>
        </div> <!-- END SONG SELECTION BOX -->

        
        <!-- RESULTS SEARCH -->
        <div class="container-results" id="container-results" style="display:none"> 
            <div class="player-container">
                <img id="track_image">
                <p id="music-icon"><i class="fa fa-music" aria-hidden="true"></i>Play What You See || See What You Play</p>
            
                <div class="player-left">                    
                    <img id="track_image">
                    <div class="volume">
                        <p id="volume_show">90</p>
                        <i class="fa fa-volume-up" aria-hidden="true" id="volume-icon" onclick="mute_sound()"></i>
                        <input type="range" min="0" max="100" value="90" onchange="volume_change()">
                    </div>
                </div>

                <div class="player-right">
                    <div class="show_song_num">
                        <p id="curr_song_num">1</p>
                        <p>/</p>
                        <p id="total_songs">10</p>
                    </div>

            <div class="container-results" id="container-results" > 
                    <p id="title">title.mp3</p>
                    <p id="artist">artist name</p>
                    <iframe src={{list_of_playlists}} class="Play" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    <div class="play-duration">
                        <input type="range" min="0" max="100" value="0" id="duration_slider" onchange="change_duration()">
                    </div>
                    <button id="auto">Autoplay <i class="fa fa-sync-alt" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
{% endblock %}